.header__logo {
    margin: 0;
    width: 103.74px;
    padding-left: 27px;
    padding-bottom: 31.6px;
}

@media screen and (min-width: 1280px) {
    .header__logo {
        padding: 0;
        width: 142px;
        padding-bottom: 41px;
    }
}
