.profile__image {
    margin         : 0 auto;
    border-radius  : 50%;
    width          : 120px;
    height         : 120px;
    margin-bottom  : 22.25px;
    object-position: center center;
    transition     : opacity 0.3s ease-in-out;
}

.profile__image:hover {
    cursor : pointer;
    opacity: 0.2;
}

@media screen and (min-width: 1280px) {
    .profile__image {
        margin : 0;
        padding: 0;

    }
}