.groups__mask{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 246px;
    padding-top: 25px;
    padding-bottom: 31px;
    padding-left: 21px;
    padding-right: 15px;
}