.header__link {
  all: unset;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  align-self: flex-end;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

