.popup__input-line{
        border: none;
        border-bottom: 1px solid rgb(0,0,0, 0.2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 8px;
    color:#C4C4C4;
    opacity: 0.5;

}

