.profile__avatar-btn {
    background-image   : url(../../../images/vector_edit.svg);
    background-size    : 26px 26px;
    background-color   : #000;
    background-position: center;
    background-repeat  : no-repeat;
    border-radius      : 50%;
    border             : none;
    height             : 120px;
    width              : 120px;
    transition         : opacity 0.3s ease-in-out;
    padding            : 0px;
    align-self         : center;
}


@media screen and (max-width: 820px) {
    .profile__avatar-btn {
        margin-right: 0px;
    }
}