.popup {
    margin: 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: visibility .5s,opacity .5s linear;
    visibility: hidden;
    
}


.popup::before {
    content: "";
    background: #000000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}

