.authorization__button {
    width: 100%;
    min-height: 50px;
    margin-top: 210px;
    border: none;
    background-color: #000;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    transition: opacity 0.6s;
    background-color: #fff;
  }
  
  .authorization__button:hover {
    opacity: 0.8;
  }