.profile__informs {
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
}


@media screen and (min-width: 1280px) {
    .profile__informs {
        margin: 0;
    gap:19px;
    }
}