.popup__button-save {
    all: unset;
    margin: 0;
    padding: 0;
    height: 46px;
    color: white;
    background: #000000;
    border-radius: 2px;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.popup__button-save:hover {
    opacity: 0.8;
}

.popup__button-save-disabled {
    background-color: #fff;
    color: #b3b3b3;
    opacity: 1;
    user-select: none;
    cursor: default;
    border: 1px solid #b3b3b3;
border-radius: 2px;
}


@media screen and (min-width: 1280px) {
    .popup__button-save {
        margin-top: 18px;
        width: 358px;
        height: 50px;
        font-size: 18px;
        line-height: 22px;
        
    }
}






