.popup__container{
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    width: 282px;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media screen and (min-width: 1280px) {
    .popup__container {
        width: 430px;
        min-height: 330px;
    }
}
/*
.popup__container{
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    width: 282px;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media screen and (min-width: 1280px) {
    .popup__container {
        width: 430px;
        min-height: 330px;
    }
}

*/