.authorization__input{
    width: 100%;
  height: 27px;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  background-color: #000;
  color: #fff;
}